#content
  %table#deployments.listing{:cellspacing=>"0", :cellpadding=>"0"}
    %caption Deployments
    %thead
      %tr
        %th#branches_column
          Branches
        %th#checkouts_column
          Checkouts
        %th#output_column
          Output
    %tbody.content
      %tr
        %td
          .data_column
            %table.data#branches{:cellspacing=>"0", :cellpadding=>"0"}
        %td
          .data_column
            %table.data#checkouts{:cellspacing=>"0", :cellpadding=>"0"}
        %td{:style => 'background:black;'}
          %pre#pre_output
            %code#output.string
