#content
  #branches_column
    %h3 Branches
    %ul#branches
      %li banches aqui
  #checkouts_column
    %h3 Checkouts
    %ul#checkouts
      %li checkouts aqui
  .clear
#console
  %pre#pre_output
    %code#output.string
